/*@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i&subset=latin-ext,vietnamese');

body{
    font-family: 'Asap', sans-serif;
    font-size:14px;
    font-weight:500;
}

*/
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i|Rambla:400,400i,700,700i&subset=latin-ext');
body{
    font-family: 'Rambla', sans-serif;
    font-size:14px;
    font-weight:500;
}

/*
@font-face {
font-family: Gisha;
src: url(fonts/Gisha.ttf);
}


body{
    font-family: 'Gisha', sans-serif;
    font-size:14px;
    font-weight:500;
}
*/

/*********product page 1*****************/

/*********product page 1*****************/



/*********************************Index Page*********************************/

.header_top_utilities {
    background-color: #7ab850;
    
}

.header_links {
    border-right: 2px solid #39780e;
    margin: 0px 0;
    padding:5px 2px;
}

.header_links ul, .user-login ul{
    margin: 0;
    padding: 0;
}

.header_links ul li , .user-login ul li{
    list-style-type: none;
    margin: 0;
}

.header_links li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #7ab850;
    min-width: 171px;
    border-top:none;
    z-index: 5;
    left:-10px;
}

.logindrop{
    
    background-color: #f5f5f5;

    
}

.logindrop a{
    color: #000!important;
    
}

.logindrop a:first-child{
    
    margin-top:13px!important;
}

.logindrop a:hover{
    
    background:#ddd!important;
}

.header-dropdown-content a {
    color: #fff;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 5px;
}

.header-dropdown-content a:hover {
    background-color: #39780e;
    
}

.header-dropdown:hover .header-dropdown-content {
    display: block;
}

.header-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.center_text {
    margin: 0;
    text-align:center;
    font-size:16px;
    padding: 5px 0px
}
.center_text a{
    color: #fff;
}

.social_icons{
    border-left: 2px solid #39780e;
    text-align: right;
    margin: 1px 0px 0px 0px;
    padding: 6px 0px;
}

.social_icons ul {
    margin: 0;
    padding: 0;
}

.social_icons ul li {
    list-style-type: none;
    line-height: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 35px;
}

.social_icons ul li a {
    color: #d8ebf5;
    font-size: 15px;
    display: block;
    line-height: 18px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    text-decoration: none;
}

.social_icons ul li a:hover {
    color: #000;
}

* {box-sizing: border-box;}

.site-logo {
    max-height: 50px;
}

/* search bar*/
#flipkart-navbar {
    background-color: #1f1826;
}

.row2 {
    margin: 0px 0px;
}
.hov-me{
    width: 100%;
    float: left;
    padding: 3px 0;
}
.flipkart-navbar-search {
    margin: 10px 0;
}
.flipkart-navbar-input {
    padding: 10px 12px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 14px;
}
.flipkart-navbar-button {
    background-color: #e89d21;
    border: 1px solid #e89d21;
    border-radius: 0 2px 2px 0;
    color: #fff;
    padding: 5px 0;
    height: 39px;
    cursor: pointer;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.smallnav{
    display: block;
    float: left;
    color: #fff;
    margin: 10px 0;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

.spanh2{
    margin:0;
}

.cart-button {
    background-color: #ffffff;
    box-shadow: 0 0 0 transparent;
    padding: 10px 0;
    text-align: center;
    height: 43px;
    border-radius: 2px;
    font-weight: 500;
    width: 107px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: 2px solid #e89d21;
    outline: none;
    margin: 5px 0px;
    float: right;
}

.cart-button:hover{
    text-decoration: none;
    background-color: #e89d21;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 4px 6px;
    font-weight: 500;
    display: inline-block;
    line-height: 12px;
    margin-left: 10px;
}


/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #1f1826;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav-header{
    padding: 13px;
    background-color: #e89d21;
}

.sidenav > .main-anchor {
    padding: 8px 8px 0px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav > .main-anchor:hover {
    padding: 8px 8px 0px 8px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s
    background-color:#
}

.sidenav .closebtn {
    position: absolute;
    top: 13px;
    right: 15px;
    font-size: 24px;
    margin-left: 50px;
    color: #fff;        
}
/* search bar*/

/* Mega Menu */
.nav-container{
    /* border-bottom: 1px solid #dddddd; */
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border-radius: 0;
    /* box-shadow: 1px 1px 5px #aaa; */
    z-index: 2;
}

.container-menu{
    margin-left: 85px;
    margin-right: 85px;
}

.menu-large > a{
    font-size: 15px;
    color: #35354d;
    border-bottom: 3px solid transparent;
}

.menu-large > a:hover {
    border-bottom: 3px solid #e89d21;
    background:transparent !important;
}

/* .menu-active{ */
    /* border-color:#e89d21!important; */
    /* background:transparent !important; */
/* } */

.menu-large {
    position: static !important;
}
.megamenu{
    padding: 0px 0px;
    width:100%;
    border: 1px solid transparent;
    border-radius: 0px;
}

.megamenu > li {
    display: table-cell;
    position: relative;
    padding: 70px 0px !important;
    vertical-align: top;
}

.megamenu> li > ul {
    padding: 0;
    margin: 0;
}
.megamenu> li > ul > li {
    list-style: none;
}

.navbar{border:none!important;min-height:48px;}

.megamenu> li > ul > li > .nav-child{
    font-size:16px !important;
    display: block;
    margin-bottom: 0px;
    padding-bottom: 10px;
    color: #9da9b9;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}

.megamenu> li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
    font-size: 16px;
}
.megamenu> li > ul > li > .nav-child:hover,
.megamenu> li > ul > li > .nav-child:focus{
    text-decoration: none;
    color: #9da9b9;
}

.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
    text-decoration: none;
    color:#e89d21;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px;
}
/*Mega Menu*/

/*login and registration*/

.login_account {
    text-align: right;
    margin: 15px 0 0 0;
}

.login_account ul{
    margin:0;
    padding: 0;
}

.login_account ul li{
    list-style-type: none;
    margin: 0;
}

.login_account li a{
    text-decoration: none;
    font-size: 15px;
    color: #35354d;
    text-transform: uppercase;
}
.a_divider{
    border-top:1px solid #888888;
}
/*login and registration*/

/*shop by style*/

.shop-by-style-main{text-align: center;max-width:30.5rem;}
.heading_small_styled {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #676767;
    margin: 12px 0 0 0px;
}
.heading_small_styled::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100px;
    background-color: #ddd;
    margin: 0px auto 0 -23%;
    top: 13%;
}
.heading_small_styled::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100px;
    background-color: #ddd;
    margin: 0 auto 0 2%;
    top: 13%;
}
.style-thumb {
    padding: 10px 8px;
    max-height: 250px;
    height: 100%;
    border: 1px solid transparent;
    border-bottom: 4px solid #f5f5f5;
}
.style-thumb:hover {
    padding: 10px 8px;
    height: 100%;
    border-bottom: 4px solid #e89d21;
}
.img-front {
    display: none;
    top: 0;
    left: 0;
    z-index: 99;
}
.style-thumb:hover .img-back {
    display: none;
}
.style-thumb:hover .img-front {
    display: block !important;
}
.style-thumb h4 a {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}
.style-thumb:hover h4 a {
    color: #e89d21;
}

.shop-by-style .owl-carousel .owl-nav{
    margin:0px;
}
.shop-by-style .owl-carousel .owl-dots {
    display:none;
}
.shop-by-style .owl-carousel .owl-nav  .owl-prev {
    position: absolute;
    top: 18%;
    left: -65px;
    border: 1px solid #e89d21;
    border-radius: 50px;
    padding: 5px 17px !important;
    background-color:#ffffff;
}
.shop-by-style .owl-carousel .owl-nav  .owl-next {
    position: absolute;
    top: 18%;
    right: -65px;
    border: 1px solid #e89d21;
    border-radius: 50px;
    padding: 5px 17px !important;
    background-color:#ffffff;
}
.shop-by-style .owl-carousel .owl-nav .owl-prev:hover {
    background-color: #e89d21;
}
.shop-by-style .owl-carousel .owl-nav .owl-next:hover {
    background-color: #e89d21;
}
/*shop by style*/

/*Home Products Slider*/
.heading-main-page-products{
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #374250;
}
#demos #home_products1, #demos #home_products2, #demos #home_products3{
    border: 1px solid #cccccc;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.product-card {
    border-radius: 0;
}
.product-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 1px 18px;
    border-left: 1px solid #cccccc;
    background-color: #ffffff;
    /*changes*/
    width: 100%;
    margin: 0;
    background: #fff;
    padding: 7% 4% 5%;
    display: block;
    text-decoration: none !important;
    position: relative;
    overflow: hidden;
    }
.product-card .product-badge {
    top: 7px;
    left: 7px;
}
.product-card a{
    color: #000000;
}
.product-badge {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
    border: 1px solid #e89d21;
    padding: 5px;
}
.product-card .product-thumb {
    display: block;
    width: 90%;
    margin-bottom: 0px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
}
.new-class{
    padding: 0 8%;
    text-align: left;
    padding-top: 74%;
}
.product-card .product-title {
    margin: 75px 0 0 0;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.product-card .product-title > a {
    transition: color .3s;
    color: #374250;
    text-decoration: none;
}
.product-desc {
    color:#000000 !important;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin:0px;
}
.product-card .product-price {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}
.product-card .product-price > del {
    font-size: 15px;
    margin-right: 5px;
    font-size: 15px;
}
.product-card .product-buttons {
    text-align: right;
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .07em;
    text-transform: uppercase;
    top: 10px;
    right: 10px;
}
.btn-wishlist {
    border: 1px solid transparent;
    background: transparent;
    font-size: 22px;
    color: #888888;
}
.productslider .owl-carousel .owl-nav{
    margin:0px;
}
.productslider .owl-carousel .owl-dots {
    display:none;
}
.productslider .owl-carousel .owl-nav  .owl-prev {
    position: absolute;
    top: 45%;
    left: -25px;
    border: 1px solid #e89d21;
    border-radius: 50px;
    padding: 5px 17px !important;
    background-color:#ffffff;
}
.productslider .owl-carousel .owl-nav  .owl-next {
    position: absolute;
    top: 45%;
    right: -25px;
    border: 1px solid #e89d21;
    border-radius: 50px;
    padding: 5px 17px !important;
    background-color:#ffffff;
}
.productslider .owl-carousel .owl-nav .owl-prev:hover {
    background-color: #e89d21;
}
.productslider .owl-carousel .owl-nav .owl-next:hover {
    background-color: #e89d21;
}
.bg-gray {
    background-color: #f1f1f1;
}
/*Home Products Slider*/

/*Shoe Finder*/
.shoe-finder{
    position: relative;
    text-align: center;
    color: #000000;
    border:1px solid #ddd;
}

.btn-shoe-finder {
    position: absolute;
    bottom: 6%;
    right: 26%;
    border: 1px solid #0d1f26;
    background-color: #0d1f26;
    color: #ffffff;
    padding: 6px 12px;
    font-size: 18px;
}
/*Shoe Finder*/

/*Super Confert*/
.bg_with_cta {
    background-color: #f30;
    padding: 30px 0;
    background-image: url('../../assets/images/compart.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.bg_cta_text {
    padding: 150px 0;
    position:relative;
}
.bg_cta_text h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
}
.btn-super-confert{
    position: absolute;
    bottom: 16%;
    left: 0%;
    border: 1px solid #0d1f26;
    background-color: #0d1f26;
    color: #ffffff;
    padding: 7px 50px;
    font-size: 24px;
}
/*Super Confert*/

/*Promo Section*/
.padding-bottom-4x {
    padding-bottom: 96px !important;
}
.padding-top-4x {
    padding-top: 96px !important;
}
.promo_mid_block {
    height: 100%;
    transform: scale(1.2);
}
.promo_mid_text {
    background-color: #fbe5d6;
    background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    z-index: 99;
    position: relative;
}
.promo_mid_text_content {
    position: relative;
    top: 25%;
    text-align: center;
    padding: 80px 30px 160px 30px;
    /*transform: translateY(-35%);*/
}
.promo_mid_text_content h3 {
    color: #444;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 15px;
}
.btn-promo {
    position: absolute;
    bottom: 24%;
    left: 16%;
    border: 1px solid #0d1f26;
    background-color: #0d1f26;
    color: #ffffff;
    padding: 7px 50px;
    font-size: 24px;
    transform: scale(0.8);
}
/*Promo Section*/

/*glory section*/
.mySlides {display:none;}
.brand-img {
    cursor:pointer;
    width:100px;
    margin-bottom:10px;}
.brands-content{
    width:94px;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: #66666690;
    padding: 24px;
}
.kay {
    position: relative;
    margin: 5rem 0 5rem 0;
}
.kay2{
    position: absolute;
    bottom: 20%;
    right: 5%;
}
.w3-opacity-off, .w3-hover-opacity-off{
    opacity: 0.60;
}
.w3-opacity-off, .w3-hover-opacity-off:hover{
    opacity: 1;
}
/*glory section*/

/*footer*/
.site-footer {
    padding: 40px 40px 0 40px;
    background-color: #1f1826;
}
.widget {
    margin-bottom: 38px;
}
.widget-light-skin .widget-title {
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.5);
}
.widget-title {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e1e7ec;
        border-bottom-color: rgb(225, 231, 236);
    color: #9da9b9;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.widget-categories ul, .widget-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget ul {
    margin-bottom: 12px;
}
.widget-categories ul > li, .widget-links ul > li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 14px;
}
.widget-categories ul > li::before, .widget-links ul > li::before {
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 0;
    height: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
    color: #9da9b9;
}
.widget-light-skin.widget-categories ul > li > a, .widget-light-skin.widget-links ul > li > a {
    color: #ffffff;
}
.widget-light-skin.widget-categories ul > li > a:hover, .widget-light-skin.widget-links ul > li > a:hover {
    color: #e89d21;
}
.widget-categories ul > li > a, .widget-links ul > li > a {
    display: inline-block;
    transition: color .3s;
    color: #606975;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.padding-bottom-1x {
    padding-bottom: 24px !important;
}
.subscribe-form .input-group {
    width: calc(100% - 40px);
    float: left;
}
.input-light.form-control, .input-light .form-control {
    border-color: rgba(255, 255, 255, 0.17);
    background-color: transparent;
    color: #ffffff;
}
.input-light input[type="email"]:hover, .input-light input[type="email"]:focus {
    background: transparent;
    border-color: #e89d21;
}

.btn-newsletter {
    display: inline-block;
    padding: 8px 12px 7px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #e89d21;
    background-color: #e89d21;
}
.btn-newsletter:hover{
    color:#ffffff;
    background-color: #db9522;
}

.sb-light-skin.shape-circle, .sb-light-skin.shape-rounded, .sb-light-skin.shape-square {
    border-color: rgba(255, 255, 255, 0.12);
}
.sb-light-skin:hover, .sb-light-skin:focus {
    color: #ffffff !important;
    border-color: #fff !important;
    background-color: rgba(136,136,136,0.1);
}
.social-button:focus {
    text-decoration: none;
}
.social-button.shape-circle {
    border-radius: 50%;
}
.follow-us-title{
    margin-top: 10px;
}
.social-button.shape-circle, .social-button.shape-rounded, .social-button.shape-square {
    width: 34px;
    height: 34px;
    margin-right: 5px;
    border: 1px solid #e1e7ec;
    line-height: 35px;
    text-align: center;
}
.sb-light-skin {
    transition: all .3s;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6) !important;
}
.social-button {
    display: inline-block;
    margin-top: 25px;
    margin-right: 18px;
    margin-bottom: 5px;
    transition: color .3s;
    color: #606975;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}
hr.hr-light {
    border-top-color: rgba(255, 255, 255, 0.12);
}
.margin-bottom-hr {
    margin-bottom: 0px !important;
}
.mt-2, .my-2 {
    margin-top: .5rem !important;
}
.cprt_left {
    text-align: left;
}
.cprt_left ul {
    margin: 0;
    padding: 0;
}
.cprt_left ul li {
    list-style-type: none;
    margin: 0 5px 0 0;
    display: inline-block;
}
.cprt_left ul li a {
    color: #ddd;
    text-decoration: none;
}
.cprt_left ul li a {
    color: #ddd;
    text-decoration: none;
}
.cprt_center p{
    color: #ffffff;
    margin: 10px 0;
    text-align:right;
}
/*footer*/

/*back to top*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: 2px solid #e89d21;
    border-radius: 50%;
    padding: 15px 18px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    z-index: 9999;
}
.back-to-top:hover {
    background-color:#e89d21;
    color: #ffffff;
}
.back-to-top:focus {
    background-color:#e89d21;
    color: #ffffff;
}
/*back to top*/

.navbar-nav > li > a{padding-bottom:10px;}
.navbar-collapse{padding-left:0px;padding-right:0px;}
#shop-by-style{margin-bottom:20px!important;margin-top:5px!important;}
.navbg{background:#f5f5f5;width:100%;}
.last_list ul li{float:left!important;}
.last_list ul li::before{display:none;}
.last_list ul{margin-top:10px;}


/*********************************End of Index Page*********************************/

/*********************************Category Page*********************************/
.offers {
    padding: 20px 20px;
    width: 100%;
    float: left;
    border: 1px solid #aaa;
    border-top: transparent;
}
.offers-title {
    font-size: 24px;
    margin: 10px 0;
}
.offers-code {
    font-size: 18px;
    margin: 0;
}
.offers-code span{
    font-size: 14px;
    margin: 0;
}
.cat-select-arrow {
    background: url("../images/icons/select-box-icon.png") no-repeat scroll 80px;
    padding: 6px 30px 6px 10px;
    margin-top: 28px;
}
.product-list h4{margin:0px;}
.product-list{padding:50px 0px;}
.accordion-toggle:after {font-family: 'Glyphicons Halflings'; content: "\e114"; float: right;color: grey; }
.accordion-toggle.collapsed:after {content: "\e080";}
.product-list .product-card{border-left:none;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.product-list .col-md-3 {padding: 0 15px 0 0;}
.productlist .product-card{border-left:1px solid #ccc!important;}
.newprodlist #accordion2 .accordion-group{border:none;}
.newprodlist .filter{background:#f5f5f5;padding:10px;}
.cat1 .offers{border-top:1px solid #ccc;}

.firstproduct{border-left:1px solid #ccc!important;}
/* .filter{border:1px solid #ccc;} */
.sortby{margin-bottom: 42px;border:1px solid #ccc;}
.filterheading{border-bottom:1px solid #ccc;text-align:center;padding:10px 0px;}
.filter a{color:#000;font-size:14px;text-transform:uppercase;}
.filter ul li{list-style-type:none;margin-bottom:10px;}
.filter ul li input{margin-right:10px;border:1px solid #ccc;margin-bottom:0px;}
.filter ul{padding-left:0px;margin-left:0px;margin-top:10px;}
#accordion2 .accordion-group{padding:10px;border-bottom:2px solid #ddd;}
a:hover, a:focus{text-decoration:none;}
.filterheading{margin-bottom:0px;}
.search{border:1px solid #ddd;margin:10px 0px!important;}
.size li{display:inline-block;padding:1px 9px;background:#e89d21;margin-right:5px;color:#fff;margin-bottom:10px;}
.color{height:15px;width:15px;border-radius:50%;margin:0px 10px 0px 0px;display:inline-block;}
.blue{background:blue;}
.green{background:green;}
.yellow{background:yellow;}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover
{background-color:#e89d21;border-color:#e89d21;}
.pagination li a{border-radius:0px!important;padding:5px 15px!important;}

.slidecontainer {
    width: 100%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    margin:10px 0px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e89d21;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e89d21;
    cursor: pointer;
}
.shownumber{margin:25px 0px;text-align:right;font-size:16px;}
.productlist .product-card{margin-bottom:30px;}
.cat1{margin-top:50px;}
/*********************************End of Category Page*********************************/


/*********************************Product Page*********************************/
.product-block {
    border: 1px solid #cccccc;
    margin: 50px 0;
}

.product-img-block {
    margin: 50px 50px 0 15px;
    border: 2px solid #cccccc;
}
.product-attribute-block {
    background-color: #e5e5e5;
    border-left: 1px solid #cccccc;
}
.main-product-brand {
    background-color: #ffffff;
    margin-right: -15px;
    margin-left: -15px;
}
.main-product-brand-img {
    width: 100px;
    margin: 0 auto;
    display: block;
}
.main-product-price {
    text-align: center;
    margin-top: 10px;
}
.product-colors {
    margin: 10px 0;
}
.produts-attributes {
    margin: 0px 0px;
    padding: 0 0 20px 0;
}
.main-product-price h3{
    margin:10px;
    font-size: 24px;
}
.main-product-price h4{
    margin:10px;
    font-size: 18px;
}
.product-colors h5{
    margin:0 0 10px 0;
}
.try-home-p-content{
    font-size: 14px;
}
.popup-produts-attributes {
    margin: 0;
    padding: 0;
}
.popup-produts-attributes .select-arrow {
    background: url("../images/icons/select-box-icon.png") no-repeat scroll 140px;
    padding: 6px 6px;
}
.reviews-btn{
    border: 1px solid #e89d21;
    width: 50%;
    padding: 5px;
    font-size: 18px;
    background-color: #e89d21;
    cursor: pointer;
    text-align: center;
}
.shipping-reviews {
    text-align: center;
    background-image: url("../images/products/product-page/review-bg.jpg");
    padding: 50px;
    margin-top: -66px;
    height: 500px;
}
.main-product-title {
    text-align: center;
    margin: 10px 0 20px 0;
    font-size: 24px;
}
.product-main-img{
    width: 80%;
    margin: 0 auto;
}
.thumb-section{
    list-style-type: none;
    margin: 25px;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.thumb-section li{
    display: inline-block;
}
.thumb-section li img{
    padding: 6px 12px;
    border: 2px solid #000000;
    margin: 5px;
    height: 50px;
    cursor: pointer;
}
.w3-left.w3-hover-text-khaki {
    position: absolute;
    top: 50%;
    left: 5%;
    cursor: pointer;
}
.w3-right.w3-hover-text-khaki {
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
}
.colors{
    margin:0;
}
.colors li{
    list-style: none;
    display: inline-block;
    margin: 0 5px 0 0;
}
.products-black{
    border-radius: 10%;
    padding: 0px 9px;
    background-color: #000000;
}
.products-gray{
    border-radius: 10%;
    padding: 0px 9px;
    background-color: #999999;
}
.products-red{
    border-radius: 10%;
    padding: 0px 9px;
    background-color: #ff0000;
}
.select-arrow {
    background: url("../images/icons/select-box-icon.png") no-repeat scroll 40px;
    padding: 0 0 0 3px;
    font-size: 11px;
}
.size-chart > .modal-name-content{
    text-align: center;
}
.try-at-your-home > .modal-name-content{
    text-align: center;
}
.size-chart, .try-at-your-home {
    border: 1px solid #cccccc;
    margin: 0 0 15px 0;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.all-sizes li{
    list-style: none;
    display: inline-block;
    margin: 0 5px 0 0;
}
.all-sizes li a{
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
    color: #000000;
}
.btn-shop-button-group {
    margin: 20px 0 10px 0;
    text-align: center;
}
.btn-shop-button{
    border: 1px solid #000000;
    padding: 6px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 12px 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.btn-shop-button:hover{
    background-color: #e89d21;
    border-color: #e89d21;
    color: #000000;
    text-decoration: none;
}

.pin-form{
    border: transparent;
    border-bottom: 1px dashed #888888;
    padding: 0 10px;
    height: 34px;
    box-shadow: none;
    background-color: transparent;
}
.btn-pincode {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #e89d21;
    background-color: #e89d21;
}
.btn-pincode:hover {
    color: #fff;
    background-color: #d8911d;
}

.panel-default-product{
    border: 1px solid #e89d21;
    background-color: #e89d21;
    border-radius: 0 !important;
    padding: 5px 0 0 0;
}
.panel-heading-product{
    border: transparent !important;
    background-color: transparent !important;
    color: #000000 !important;
}
.panel-heading-product h4.panel-title{
    margin-bottom: 0;
}
.panel-heading-product h4.panel-title a:hover,
.panel-heading-product h4.panel-title a:focus{
    color: #ffffff;
}
.panel-body-product{
    background-color: #ffffff;
}
/***tabbing of reviews***/

.product-desc-info{
    margin: 50px 0;
    background-color:#f1f1f1;
    min-height: 500px;
}
.product-desc-info .tab-head{
    border:2px solid transparent;
}
.tab-head > li > a{
    border:transparent;
}
.tab-head > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    border:transparent;
    border-bottom:4px solid #d8911d;
    background-color: transparent;
    color: #000000;
}
.tab-head > li > a:hover{
    border-bottom: 4px solid #d8911d;
}
.tab-head > li > a:focus, .nav > li > a:hover{
    background-color:transparent;
}
.panel-default-head{
    padding:0px;
}
.panel-head{
    padding:0px;
}
.panel-head h4.panel-title a{
    margin:0px;
}
.product-desc-info ul li a{
    color:#000000;
    text-transform:uppercase;
}
.product-desc-info .tab-content{
    padding:20px 0 0 50px;
}
.product-desc-info .tab-content h5 {
    margin: 10px;
}
.boreder-at-bottom{
    border-bottom: 1px solid #eeeeee;
    margin:15px 0;
    width:50%;
}
.delivery{
    margin-bottom: 0px;
}
.delivery > i {
    color: #e89d21;
    font-size: 12px;
    margin: 0 5px 0 0;
}
.reviews-btn:hover{
    color: #ffffff;
    background-color: #cf8a18;
}
.submit-review-btn{
    color: #000000;
    background-color: #e89d21;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #e89d21;
}
.submit-review-btn:hover{
    color: #ffffff;
    background-color: #cf8a18;
}
.shipping-reviews h4{
    color: #ffffff;
    font-size: 75px;
}
.shipping-reviews h6{
    color: #ffffff;
    font-size: 24px;
}
/***tabbing of reviews***/
/***Riviews***/
.btn-grey{
    background-color:#D8D8D8;
    color:#FFF;
}
.bold{
    font-weight:700;
}
.demostar{
    font-size: 20px;
}
.rating-block{
    margin: 15px 0;
}
.rating-block h4 {
    margin: 45px 0 0px 0;
}
.rating-block h2 {
    margin: 40px 0 32px 0;
}
.review-block{
    background-color: #ffffff;
    border: 0px solid #efefef;
    padding: 15px;
    border-radius: 0;
    margin-top: -67px;
    max-height: 500px;
    overflow-y: scroll;
}
.review-block-name{
    font-size:12px;
    margin:10px 0;
}
.review-block-date{
    font-size:12px;
}
.review-block-rate{
    font-size:13px;
    margin-bottom:15px;
}
.review-block-title{
    font-size:15px;
    font-weight:700;
    margin-bottom:10px;
}
.review-block-description{
    font-size:13px;
}
.img-user-review {
    border: 0px solid transparent;
    width: 50px;
}
.viewmore-review-btn{
    color: #000000;
    background-color: #e89d21;
    border-radius: 0;
    padding: 6px 12px;
    font-size: 16px;
    border: 1px solid #e89d21;
}
.viewmore-review-btn:hover{
    color: #ffffff;
}
/***End of Reviews***/

/*********************************End of Product Page*********************************/

/******************Login and Registration**************/
    .log-reg-main-section{
        background-color: #f1f1f1;
    }
    .login-form, .registration-form {
        margin: 50px auto;
    }
    .login-form form{
      background-color: #ffffff;
      padding: 20px 40px;
      min-width: 300px;
      box-shadow: 0px 3px 5px #333;
    }
    .registration-form form {
      background-color: #ffffff;
      padding: 20px 40px 10px 40px;
      min-width: 300px;
      box-shadow: 0px 3px 5px #333;
    }
    .login-form h2, .registration-form h2 {
        margin: 0 0 15px;
        font-size: 26px;
    }
    .login-form a, .registration-form a {
        color: #000000;
    }
    .btn-login-button-group a{
        color: #ffffff;
    }
    .btn-login-button-group a:hover {
        color: #000000;
    }
    .form-control {
        min-height: 38px;
        border-radius: 2px;
        background-color: #ffffff;
    }
    .btn {
        border-radius: 0;
    }
    .btn-login-button-group {
        width:100%;
    }
    .btn-login-button {
        border: 1px solid #e89d21;
        padding: 6px 12px;
        background-color: #e89d21;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin: 0 12px 10px 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        float: left;
    }
    input[type="checkbox"], input[type="radio"] {
        margin: 4px 0 0;
    }
/******************End of Login and Registration**************/


/*********************************Cart Page*********************************/
.cart-main-section {
    padding:50px 0;
}
.cart-head {
    margin: 0 0 15px 0;
    font-size: 24px;
    background-color: #e7e7e7;
    padding: 10px;
    border-bottom: 2px solid #cfcfcf;
}
.cart-thead-content{
    background-color: #e89d21;
}
.cart-thead-content tr th{
    text-align: center;
    padding: 10px 0 !important;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.cart-tbody-content tr td{
    vertical-align: middle !important;
    padding: 30px 5px !important;
    text-align: center;
}
.cart-tbody-content tr td i{
    color: #dd0000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.cart-tfoot-content tr td{
    text-align: center;
    padding: 10px 0 !important;
    font-size: 16px;
    font-weight: 500;
}
.cart-form-group, .cart-form-control{
    margin: 0px;
}
.cart-form-group .select-arrow{
    background: url("../images/icons/select-box-icon.png") no-repeat scroll 80px;
    padding: 6px 12px;
}
.cart-tbody-content tr td select{
    cursor: pointer;
}
.cart-product-title {
    margin: 0;
    font-size: 18px;
}
.btn-cart-button{
    border: 1px solid #e89d21;
    padding: 12px 24px;
    background-color: #e89d21;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.btn-cart-button-group a:hover {
    color: #000000;
}
/*********************************End of Cart Page*********************************/

/*********************************Account Page*********************************/
.acc-head {
    margin: 0 0 15px 0;
    font-size: 18px;
    background-color: #e7e7e7;
    padding: 10px;
    border-bottom: 2px solid #cfcfcf;
}

/*********************************End of Account Page*********************************/

/*********************************Orders Page*********************************/
.order-main-section {
    padding:50px 0;
}
.order-thead-content{
    background-color: #e89d21;
}
.order-thead-content tr th{
    text-align: center;
    padding: 10px 0 !important;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.order-tbody-content tr td{
    vertical-align: middle !important;
    padding: 10px 0 !important;
    text-align: center;
}
.order-tbody-content tr td i{
    color: #dd0000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.order-tfoot-content tr td{
    text-align: center;
    padding: 10px 0 !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.order-tfoot-content tr td a{
    color: #000000;
}
.order-tfoot-content tr td a:hover{
    color: #e89d21;
}
.order-form-group, .order-form-control{
    margin: 0px;
}
.order-form-group .select-arrow{
    background: url("../images/icons/select-box-icon.png") no-repeat scroll 80px;
    padding: 6px 12px;
}
.order-tbody-content tr td select{
    cursor: pointer;
}
.order-id {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.order-date-purchased {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}
.order-amount {
    font-size: 14px;
    font-weight: 600;
}
.btn-order-button{
    border: 1px solid #e89d21;
    padding: 12px 24px;
    background-color: #e89d21;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.btn-order-button-group a:hover {
    color: #000000;
}
/*********************************End of Orders Page*********************************/

/*********************************Profile Page*********************************/
.profile-main-section {
    padding:50px 0;
}
.user-info-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    padding-top: 90px;
    padding-bottom: 30px;
    border: 1px solid #e1e7ec;
    overflow: hidden;
}
.user-cover{
    background-image: url('../images/account/user-cover-img.jpg');
}
.user-info-wrapper .user-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-position: center;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-info-wrapper .info-label {
    display: block;
    position: absolute;
    top: 18px;
    right: 18px;
    height: 26px;
    padding: 0 12px;
    border-radius: 13px;
    background-color: #ffffff;
    color: #606975;
    font-size: 12px;
    line-height: 26px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18);
    cursor: pointer;
}
.user-info-wrapper .user-info {
    display: table;
    position: relative;
    width: 100%;
    padding: 0 18px;
    z-index: 1;
}
.user-info-wrapper .user-info .user-avatar {
    position: relative;
    width: 115px;
}
.user-info-wrapper .user-info .user-avatar, .user-info-wrapper .user-info .user-data {
    display: table-cell;
    vertical-align: top;
}
.user-info-wrapper .user-info .user-avatar .edit-avatar {
    display: block;
    position: absolute;
    top: -2px;
    right: 2px;
    width: 36px;
    height: 36px;
    transition: opacity .3s;
    border-radius: 50%;
    background-color: #ffffff;
    color: #606975;
    line-height: 34px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    text-align: center;
    text-decoration: none;
}
.user-info-wrapper .user-info .user-avatar > img {
    display: block;
    width: 100%;
    border: 5px solid #ffffff;
    border-radius: 50%;
}
.user-info-wrapper .user-info .user-data {
    padding-top: 48px;
    padding-left: 12px;
}

.user-info-wrapper .user-info .user-avatar, .user-info-wrapper .user-info .user-data {
    display: table-cell;
    vertical-align: top;
}
.user-info-wrapper .user-info .user-data h4 {
    margin-bottom: 2px;
    margin-top: 2px;
}
.user-info-wrapper .user-info .user-data span {
    display: block;
    color: #9da9b9;
    font-size: 13px;
}
.cap-list-group a.list-group-item.active, .cap-list-group a.list-group-item.active:focus, .cap-list-group a.list-group-item.active:hover {
    z-index: 1;
    color: #ffffff;
    background-color: #e89d21;
    border-color: #e89d21;
}
.btn-account-button-group a:hover, .btn-account-button-group a:focus {
    color: rgb(0, 0, 0);
}
.btn-account-button {
    background-color: rgb(232, 157, 33);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 157, 33);
    border-image: initial;
    padding: 12px 24px;
    margin: 0px 0px 10px;
}
/*********************************End of Profile Page*********************************/

/*********************************Address Page*********************************/
.address-form-group .select-arrow {
    background: url("../images/icons/select-box-icon.png") no-repeat scroll 330px;
    padding: 6px 12px;
}
/*********************************End of Address Page*********************************/

/*********************************Tickets Page*********************************/
.ticket-form-group .select-arrow {
    background: url("../images/icons/select-box-icon.png") no-repeat scroll 240px;
}
.ticket-main-section {
    padding:50px 0;
}
.ticket-thead-content{
    background-color: #e89d21;
}
.ticket-thead-content tr th{
    text-align: center;
    padding: 10px 0 !important;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.ticket-tbody-content tr td{
    vertical-align: middle !important;
    padding: 10px 0 !important;
    text-align: center;
}
.ticket-tbody-content tr td i{
    color: #dd0000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.ticket-tbody-content tr td select{
    cursor: pointer;
}
.ticket-product-title {
    margin: 0;
    font-size: 14px;
}
.btn-ticket-button{
    border: 1px solid #e89d21;
    padding: 12px 24px;
    background-color: #e89d21;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.btn-ticket-button-group a:hover {
    color: #000000;
}
/*********************************End of Tickets Page*********************************/



/*******************************************Try and Buy start*******************************************/

.tryandbuy{padding:50px 0px;}
.tryandbuy h2{margin:0px;}
.tryandbuy h4{color:#c48113;margin-top:0px;}
.numberbox{background:#000;color:#fff;font-size:20px;width:50px;height:50px;
line-height:49px;float:left;margin-right:20px;margin-top: 30px;}
.numberbox2{background:#000;color:#fff;font-size:20px;width:50px;height:50px;
line-height:49px;float:left;margin-top: 30px;}
.trybox{position:relative;width:543px;margin: 0 auto;}
.midleimg{float:left;margin-right:20px;width:120px;}
.trytext{margin-top:30px;width:50%;margin:0 auto;}
.trytext h4{letter-spacing:5px;}
.trytext p{color:#fff;}
.trytextsection h4{margin-top:0px;color:#e89d21;}
.trytextsection{background-image:url("../images/try.jpg");padding:100px 0px;width:100%;margin:50px 0px;text-align:center;}
.addbx{margin-bottom:20px;}
.codoption input{width:25px;float:left;}
.codoption span{font-size:16px;float:;left;}
.credithead{font-size:16px;float:left;margin-bottom:20px;}
.creditcard input[type="radio"]{width:25px;float:left;}
.creditcard{margin:10px 0px;}

/*****************************************************Checkout page css****************************************************************/

.addbox{background:#f5f5f5;padding:10px;width:100%;text-align:center;}
.addnum{font-size:40px;color: #373737;}
.addtext{font-size:20px;letter-spacing:5px;color: #373737;}
.activebox{background:#e89d21;color:#fff;}
.activebox .addnum{color:#fff;}
.activebox .addtext{color:#fff;}
.address-form h4{margin-bottom:0px!important;}
.address-form  label{margin-bottom:5px;}
.cart-summary{background:#f5f5f5;padding:30px;}
.cart-summary h4{margin:0px!important;}
.headingline {margin:5px 0px!important;}
.tableline{margin:0px!important;}
.cart-summary table{background:transparent;border:none;width:100%;margin-bottom:0px;}
.cart-summary table tr td{padding-right:0px;padding-left:0px;font-size:15px;}
.cart-summary table tr{background:transparent;}
.shippingadd h4{margin:0px!important;}
.shippingadd hr{margin:10px 0px!important;}'
.addtextbox{float:left;}
.radiobox{float:left;width:25px;}

/*********************************Media Queries*********************************/
@media screen and (min-width: 1440px) {
.container {
        width: 1440px;
    }
    .btn-shoe-finder {
        bottom: 6%;
        right: 26%;
        padding: 8px 18px;
        font-size: 20px;
    }
    .brands-content {
        width: 114px;
    }
    .promo_mid_text_content {
        padding: 120px 30px 220px 30px;
    }
    .btn-promo {
        bottom: 30%;
        left: 23%;
    }
    .product-main-img{
        width: 60%;
    }
    .w3-left.w3-hover-text-khaki {
        position: absolute;
        top: 50%;
        left: 10%;
        cursor: pointer;
    }
    .w3-right.w3-hover-text-khaki {
        position: absolute;
        top: 50%;
        right: 10%;
        cursor: pointer;
    }
    .product-card .product-thumb {
        width: 100%;
    }
    .select-arrow {
        background: url("../images/icons/select-box-icon.png") no-repeat scroll 60px;
        padding: 0 0 0 3px;
        font-size: 14px;
        background-color: #ffffff;
    }
}


@media screen and (max-width: 1366px) {
    .logo-hov-me {
        width: 100% !important;
    }
    .site-logo {
        max-height: 50px;
    }
    .subscribe-form .input-group {
        width: calc(100% - 46px);
    }
    .social-button.shape-circle, .social-button.shape-rounded, .social-button.shape-square {
        margin-right: 15px;
    }
}


@media screen and (max-width: 768px) {
    .custom-navbar{
        padding:10px 0px;
    }
    .hidden-sm{
        display: none;
    }
    .header_links li a {
        font-size: 16px;
    }
    .logo-hov-me{
        width:100% !important;
    }
    .cart-hov-me {
        width: 100%;
    }
    .megamenu{
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .megamenu> li {
        margin-bottom: 30px;
    }
    .megamenu> li:last-child {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header {
        padding: 3px 15px !important;

    }
    .navbar-nav .open .dropdown-menu .dropdown-header{
        color:#fff;
    }
    
    .row2 {
        margin: 0px -15px;
    }
    .container-menu {
        margin-left: 20px;
    }
    .cart-button {
        background-color: #e89d21;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
        padding: 10px 0;
        text-align: center;
        height: 41px;
        border-radius: 2px;
        font-weight: 500;
        width: 140px;
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        color: inherit;
        border: none;
        outline: none;
    }
    .megamenu > li > ul > li > .nav-child {
        font-size: 16px !important;
    }
    .heading_small_styled::before {
        margin: 0px auto 0 -19%;
        top: 12%;
    }
    .heading_small_styled::after {
        top: 12%;
    }
    .productslider .owl-carousel .owl-nav .owl-prev {
        position: absolute;
        top: 45%;
        left: -17px;
        border: 1px solid #e89d21;
        border-radius: 0px;
        padding: 0px 8px !important;
        background-color: #e89d21;
    }
    .productslider .owl-carousel .owl-nav .owl-next {
        position: absolute;
        top: 45%;
        right: -17px;
        border: 1px solid #e89d21;
        border-radius: 0px;
        padding: 0px 8px !important;
        background-color: #e89d21;
    }
    .product-badge {
        font-size: 12px;
        padding: 3px;
    }
    .product-card .product-title {
        font-size: 16px;
    }
    .product-desc {
        font-size: 12px;
        margin:0px;
    }
    .product-card .product-price {
        margin: 0 0 5px 0;
        font-size: 12px;
    }
    .product-card .product-price > del {
        font-size: 12px;
        margin-right: 5px;
    }
    .product-card .product-buttons {
        top: 5px;
        right: 5px;
    }
    .btn-wishlist {
        font-size: 18px;
    }    
    .btn-shoe-finder {
        position: absolute;
        bottom: 4%;
        right: 24%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 5px;
        font-size: 14px;
    }
    .btn-super-confert {
        position: absolute;
        bottom: 25%;
        left: 0%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 5px;
        font-size: 18px;
    }
    .promo_mid_block {
        height: 100%;
        transform: scale(1.4);
    }
    .promo_mid_text_content {
        padding: 30px 30px 70px 30px;
    }
    .promo_mid_text_content h3 {
        font-size: 16px;
    }
    .btn-promo {
        position: absolute;
        bottom: 13%;
        left: 23%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 5px;
        font-size: 18px;
        transform: scale(0.7);
    }
    .brands-content {
        width: 183px;
        position: absolute;
        bottom: 0%;
        right: 0%;
        background: #66666690;
        padding: 24px;
    }
    .site-footer {
        padding-top: 0px;
    }
    .subscribe-form .input-group {
        width: calc(100% - 40px);
    }
    .social-button.shape-circle, .social-button.shape-rounded, .social-button.shape-square {
        margin-right: 10px;
    }
    .back-to-top {
        padding: 5px 8px;
    }
    .offers {
        padding: 10px 0px;
    }
    .offers-title {
        font-size: 16px;
        margin: 0px;
    }
    .offers-code {
        font-size: 16px;
    }
    .product-img-block {
        margin: 20px;
    }
    .product-attribute-block {
        border: none;
        border-top: 1px solid #cccccc;
    }
    .main-product-price{
        text-align: center;
        margin-top: 10px;
    }
    .main-product-title {
        margin: 18px 0 0 0;
        font-size: 16px;
    }
    .thumb-section{
        margin: 0 0 30px 0px;
    }
    .thumb-section li img {
        height: 40px;
    }
    .w3-left.w3-hover-text-khaki,
    .w3-right.w3-hover-text-khaki {
        top: 50%;
    }
    .select-arrow {
        background: url("../images/icons/select-box-icon.png") no-repeat scroll 260px;
        background-color: #ffffff;
    }
    .reviews-btn {
        padding: 5px 10px;
        text-align: center;
        margin-bottom: 30px;
    }
}


@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch {
        margin: 8px 0;
    }
    
}


@media screen and (max-width:600px) {
    .center_text{
        font-size: 13px;
    }
    .hov-me, .logo-hov-me {
        padding: 0 !important;
    }
    .site-logo {
        float: right;
    }
    .site-logo {
        max-height: 50px;
        margin: 5px 0;
    }
    .hov-me:hover {
        background-color: transparent;
    }
    .smallsearch {
        margin-top: 10px;
    }
    .login_account{
        text-align:left;
    }
    .login_account{
        margin: 0;
    }
    .login_account li a{
        color:#ffffff;
        font-size:18px;
    }
    .cart-hov-me {
        width: 100%;
    }
    .nav-container {
        display: none;
    }
    .heading_small_styled {
        font-size: 14px;
        font-weight: 400;
    }
    .style-thumb h4 a {
        font-size: 12px;
        font-weight: 400;
        color: #333;
        text-decoration: none;
    }
    .heading_small_styled::before, .heading_small_styled::after {
        display:none;
    }
    #demos .owl-carousel {
        margin: 10px 0 20px 0;
    }
    .owl-theme .owl-nav {
        display:none;
    }
    .owl-theme .owl-dots {
        display: none;
    }
    .productslider .owl-carousel .owl-nav{
        display:block;
    }
    .carousel-indicators {
        display: none;
    }

    .product-card .product-badge {
        top: 3px;
        left: 7px;
    }
    .product-badge {
        font-size: 10px;
    }
    .product-card .product-buttons {
        font-size: 10px;
        top: 0px;
        right: 0px;
    }
    .btn-wishlist {
        font-size: 10px;
    }
    .product-card .product-title {
        margin: 30px 0 0 0;
        font-size: 18px;
    }
    .product-desc {
        font-size: 12px;
    }
    .product-card .product-price {
        margin: 10px 0;
        font-size: 16px;
    }
    .product-card .product-price > del {
        font-size: 16px;
        margin-right: 5px;
    }
    .btn-shoe-finder {
        position: absolute;
        bottom: 4%;
        right: 24%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 10px;
        font-size: 10px;
    }
    .bg_cta_text {
        padding: 35px 0;
        position: relative;
    }
    .btn-super-confert {
        position: absolute;
        bottom: 0;
        left: 0%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 25px;
        font-size: 12px;
    }
    .bg_cta_text h2 {
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
    }
    .brands-content {
        width: 100%;
        position: absolute;
        bottom: 100%;
        right: 0%;
        background: #66666690;
        padding: 10px 150px 0 150px;
    }
    .promo_mid_block {
        height: 100%;
        transform: scale(1);
    }
    .promo_mid_text_content {
        position: relative;
        top: 25%;
        text-align: center;
        padding: 80px 30px 90px 30px;
    }
    .btn-promo {
        position: absolute;
        bottom: 15%;
        left: 40%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 25px;
        font-size: 12px;
        transform: scale(1);
    }
    .product-desc-info {
        margin: 0;
        min-height: 0;
    }
    .site-footer {
        padding: 0px;
    }
    .sm-view{
        height: 175px;
    }
    .offers {
        padding: 10px 5px;
    }
    .offers-title {
        font-size: 18px;
    }
    .product-img-block {
        margin: 20px;
    }
    .thumb-section{
        margin: 0 0 5px 0px;
    }
    .thumb-section li img {
        height: 35px;
    }
    .w3-left.w3-hover-text-khaki,
    .w3-right.w3-hover-text-khaki {
        top: 50%;
    }
    .select-arrow {
        background: url("../images/icons/select-box-icon.png") no-repeat scroll 200px;
        background-color: #ffffff;
    }
    .review-block {
        margin-top: 0px;
    }
	
	.trybox{width:121px;}
	.numberbox{margin-right:0px;margin-top:0px;margin-bottom:20px;margin-left:32px;}
	.midleimg{margin-right:0px;float:none;margin-bottom:20px;}
	.numberbox2{margin-top:0px;margin-left:32px;}
	.trytext{width:80%;}
}

@media screen and (max-width:480px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .header_links li a {
        font-size:13px;
    }
    .center_text{
        font-size: 14px;
    }
    .smallsearch {
        margin-top: 15px;
    }
    .cart-button {
        background-color: #e89d21;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
        padding: 10px 3px;
        text-align: center;
        height: 41px;
        border-radius: 2px;
        font-weight: 500;
        width: 100%;
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        color: inherit;
        border: none;
        outline: none;
        margin: 15px 0 0 0;
    }
    .style-thumb h4 a {
        font-size: 8px;
    }
    .product-card .product-badge {
        top: 3px;
        left: 7px;
    }
    .product-badge {
        border: 1px solid #e89d21;
        padding: 1px;
        font-size: 10px;
    }
    .product-card .product-buttons {
        font-size: 10px;
        top: 0px;
        right: 0px;
    }
    .btn-wishlist {
        font-size: 10px;
    }
    .product-card .product-title {
        font-size: 12px;
    }
    .product-desc {
        font-size: 9px;
    }
    .product-card .product-price {
        margin: 0;
        font-size: 10px;
    }
    .product-card .product-price > del {
        font-size: 10px;
        margin-right: 5px;
    }
    .btn-shoe-finder {
        position: absolute;
        bottom: 9%;
        left: 12%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 7px;
        font-size: 12px;
    }
    .bg_cta_text {
        padding: 35px 0;
        position: relative;
    }
    .bg_cta_text h2 {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
    }
    .btn-super-confert {
        position: absolute;
        bottom: 0;
        left: 0%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 5px;
        font-size: 12px;
    }
    .btn-promo {
        position: absolute;
        bottom: 20%;
        left: 37%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 5px;
        font-size: 12px;
    }
    .brands-content {
        width: 100%;
        position: absolute;
        bottom: 100%;
        right: 0%;
        background: #66666690;
        padding:10px 60px 0 60px;
    }
    .widget-title {
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: 10px;
    }
    .widget-categories ul > li > a, .widget-links ul > li > a {
        font-size: 10px;
    }
    .social-button.shape-circle, .social-button.shape-rounded, .social-button.shape-square {
        margin-right: 5px;
    }
    .input-light.form-control, .input-light .form-control {
        font-size: 12px;
    }
    .social-button.shape-circle, .social-button.shape-rounded, .social-button.shape-square {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .offers {
        padding: 5px 0px;
    }
    .offers-title {
        font-size: 10px;
        margin: 0;
    }
    .offers-code {
        font-size: 14px;
        margin: 0;
    }
    .offers-code span{
        font-size: 10px;
        margin: 0;
    }
    .thumb-section li img {
        padding: 3px 6px;
        border: 1px solid #000000;
        margin: 1px;
        height: 30px;
    }
    .main-product-brand-img {
        width: 75px;
        margin: 0 auto;
        display: block;
    }
    .product-colors {
        margin: 0;
    }
    .produts-attributes {
        margin: 0;
    }
    .select-arrow {
        background: url("../images/icons/select-box-icon.png") no-repeat scroll 90px;
        background-color: #ffffff;
    }
	
	.trybox{width:121px;}
	.numberbox{margin-right:0px;margin-top:0px;margin-bottom:20px;margin-left:32px;}
	.midleimg{margin-right:0px;float:none;margin-bottom:20px;}
	.numberbox2{margin-top:0px;margin-left:32px;}
	.trytext{width:80%;}
}

@media screen and (max-width:320px){
    .center_text {
        font-size: 13px;
    }
    .main-product-title {
        margin: 5px 0 0 0;
        font-size: 14px;
    }
    .thumb-section li img {
        padding: 3px 6px;
        border: 1px solid #000000;
        margin: 1px 1px;
        height: 20px;
    }
    .btn-promo {
        position: absolute;
        bottom: 20%;
        left: 35%;
        border: 1px solid #0d1f26;
        background-color: #0d1f26;
        color: #ffffff;
        padding: 5px 5px;
        font-size: 12px;
    }
    .brands-content {
        width: 100%;
        position: absolute;
        bottom: 100%;
        right: 0%;
        background: #66666690;
        padding:10px 50px 0 50px;
    }
    .main-product-brand-img {
        width: 50px;
    }
    .main-product-price h3 {
        margin: 10px;
        font-size: 20px;
    }
    .main-product-price h4 {
        margin: 10px;
        font-size: 16px;
    }
    .product-colors h5 {
        font-size: 14px;
    }
    .product-colors {
        margin: 0;
    }
    .btn-shop-button {
        margin: 0;
    }
    .produts-attributes {
        margin: 0;
    }
    .pin-form {
        height: 22px;
        padding: 0 2px;
    }
    .btn-pincode {
        padding: 0px 12px;
    }
    .select-arrow {
        background: url("../images/icons/select-box-icon.png") no-repeat scroll 80px;
        background-color: #ffffff;
        padding: 0px 0px;
        font-size: 12px;
    }
	
	.trybox{width:121px;}
	.numberbox{margin-right:0px;margin-top:0px;margin-bottom:20px;margin-left:32px;}
	.midleimg{margin-right:0px;float:none;margin-bottom:20px;}
	.numberbox2{margin-top:0px;margin-left:32px;}
	.trytext{width:80%;}
}


@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 18px;
    }

    .sidenav-heading{
        font-size: 24px;
        color: #fff;
    }
}

/*********************************Media Queries*********************************/